.header
{
    left: -40px;
    width: 100%;
    position: relative;
    background: #E6E6E6;
    color: #616161;
    font-size: 20px;
    margin: 0;
    padding: 10px 10px 10px 30px;
    border-bottom: 1px solid #B3B1B1;
    box-shadow: 0 1px 4px #D3D3D3;
}

.header:before
{
    background: #999;
    width: 7px;
    height: 7px;
    display: inline-block;
    position: relative;
    top: -3px;
    left: -10px;
    content: '';
}
